name: Implementation Interoperability Report

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-test-results:
    # Don't run on any commit that features [skip ci] in the commit message
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Test
        env:
          TRANSMUTE_CLIENT_ID: ${{ secrets.TRANSMUTE_CLIENT_ID }}
          TRANSMUTE_CLIENT_SECRET: ${{ secrets.TRANSMUTE_CLIENT_SECRET }}
        run: npm run test

      # - name: Deploy test report
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./docs
